<p><a href="{{ path(routeIndex) }}">Back to the list</a></p>
{{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
<button type="submit" class="btn btn-primary">Modifier</button>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Supprimer</button>
{{ form_end(edit_form) }}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLongTitle">Confirmation Suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(delete_form) }}
                <p>Attention, vous êtes sur le point de supprimer une entrée</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <input type="submit" class="btn btn-danger" value="Supprimer" />
            </div>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>