{% extends 'App/layout.html.twig' %}

{% block dashcontent %}
    <h1>Liste Entretiens Modifier le format date!!!!</h1>
<p><a class="js-new-entretien-btn btn btn-primary" href="#" data-toggle="modal" data-target="#newEntretienModal">Nouvel entretien</a></p>
    <div class="js-entretien-wrapper" data-user="{{ app.user.id }}">
        <table class="js-table-wrapper table table-responsive">
            <thead>
            <tr>
                <th>Date</th>
                <th>Objet</th>
                <th>Compte rendu</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <!-- Modal pour la visualisation du formulaire d'édition des entretiens -->
       {{ include('entretien/_edit_entretien_modal.html.twig') }}
        <!-- Fin modal -->

        <!-- Modal pour la visualisation du formulaire d'ajout des entretiens -->
        {{ include('entretien/_new_entretien_modal.html.twig') }}
        <!-- Fin modal -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/api/EntretienAppAuthor.js') }}"></script>
    <script>
        const $entretienWrapper = $('.js-entretien-wrapper');
        const entretienApp = new EntretienAppAuthor($entretienWrapper);

        $('.js-new-entretien-btn').on('click', function (e) {
            entretienApp._emptyHtmlModalBody();
            entretienApp.loadUsers();
        });

        $('.js-select-young').change(function (e) {
            const $user = $(e.currentTarget).val();
            entretienApp.loadGuests($user);
        });


    </script>
    <script type="text/template" id="js-entretien-row-template">
{# TODO Modifier le format de la date #}
        <tr title="id_<%= id %>">
            <td><%= date %></td>
            <td><%= objet %></td>
            <td><%= compteRendu %></td>
            <td><a href="<%= links._self %>" class="js-detail-entretien btn btn-warning" data-id="<%= id %>" data-toggle="modal" data-target="#editEntretienModal">Consulter</a></td>
        </tr>
    </script>

    <script type="text/template" id="js-guests-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>

    <script type="text/template" id="js-user-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>

    <script type="text/template" id="js-entretien-detail-template">
        {{ source('entretien/_edit_entretien_template.html.twig') }}
    </script>
{% endblock %}