{% extends 'App/layout.html.twig' %}

{% block dashcontent %}
    <h1>Liste Entretiens</h1>
<p><a class="js-new-entretien-btn btn btn-primary" href="#" data-toggle="modal" data-target="#newEntretienModal">Nouvel entretien</a></p>
    <div class="js-entretien-wrapper" data-user="{{ app.user.id }}">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#myInterview" role="tab">Entretiens Créés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#myInvitation" role="tab">Invitations</a>
            </li>
        </ul>

        <div class="tab-content pt-3">
            <div class="tab-pane active" id="myInterview" role="tabpanel">
                <div class="js-main-content-created">
                     <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Objet</th>
                                <th>Ordre du jour</th>
                                <th>Organisateur</th>
                                <th colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="myInvitation" role="tabpanel">
                <div class="js-main-content-invitation">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Objet</th>
                                <th>Ordre du jour</th>
                                <th>Organisateur</th>
                                <th colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        {{ include('entretien/_pdf_loader_modal.html.twig') }}
        {{ include('entretien/_new_compte_rendu_modal.html.twig') }}
        {{ include('entretien/_edit_compterendu_modal.html.twig') }}
        <!-- Modal pour la visualisation du formulaire d'édition des entretiens -->
       {{ include('entretien/_edit_entretien_modal.html.twig') }}
        <!-- Fin modal -->

        <!-- Modal pour la visualisation du formulaire d'ajout des entretiens -->
        {{ include('entretien/_new_entretien_modal.html.twig') }}
        <!-- Fin modal -->





    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/third-library/PDFObject/pdfobject.min.js') }}"></script>
    <script>
        const $entretienWrapper = $('.js-entretien-wrapper');
        const entretienApp = new EntretienAppAuthor($entretienWrapper);

        const statusApp = new StatusApp($entretienWrapper);

        $('.js-new-entretien-btn').on('click', function () {
            entretienApp._emptyHtmlModalBody();
            entretienApp.loadUsers();
        });

        $('.js-select-young').change(function (e) {
            const $user = $(e.currentTarget).val();
            entretienApp.loadGuests($user);
        });

        $entretienWrapper.on('click', '.js-participe', function () {
            $('#status').val(1);
        });

        $entretienWrapper.on('click', '.js-participe-pas', function () {
            $('#status').val(0);
        });



        CKEDITOR.replace('odj1');
        CKEDITOR.replace('compteRendu');

        const linkPdf = $('.js-load-pdf').attr("href");


        $entretienWrapper.on('shown.bs.modal', '.js-modal-viewer', function (e) {
            $('#pdfViewer .modal-body').css(
                {
                    height: '50rem'
                }
            );
            PDFObject.embed('/pdf/102.pdf', '#pdfViewer .modal-body');
        })

    </script>

    <script type="text/template" id="js-entretien-row-template">
        {{ source('entretien/template/_list_entretien_template.html.twig') }}
    </script>

    <script type="text/template" id="js-guests-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>

    <script type="text/template" id="js-user-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>

    <script type="text/template" id="js-entretien-detail-template-logged">
        {{ source('entretien/_edit_entretien_template.html.twig') }}
    </script>

    <script type="text/template" id="js-entretien-detail-template-non-logged">
        {{ source('entretien/_edit_entretien_template_non_logged.html.twig') }}
    </script>

    <script type="text/template" id="js-status-update">
        {{ source('entretien/_edit_status_template.html.twig') }}
    </script>

    <script type="text/template" id="js-compterendu-form-template">
        {{ source('entretien/_edit_compterendu_template.html.twig') }}
    </script>
{% endblock %}
