{% extends 'App/layout.html.twig' %}

{% block dashcontent %}
    <h1>Liste Entretiens</h1>
<div class="btnAjoutGenerique"><a class="js-new-entretien-btn btn btn-primary" href="#" data-toggle="modal" data-target="#newEntretienModal">Nouvel entretien</a></div>
    <div class="js-entretien-wrapper" data-user="{{ app.user.id }}">
        <div class="" id="myInterview" role="tabpanel">
            <div class="js-main-content-created">
                <span class="badge badge-warning"><i class="fa fa-eye" aria-hidden="true"></i></span><span><em>Clôturé</em></span>
                <span class="badge badge-success"><i class="fa fa-eye" aria-hidden="true"></i></span><span><em>Ouvert</em></span>
                <span class="badge badge-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span><span><em>Ecrire compte rendu</em></span>
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Actions</th>
                            <th>Date</th>
                            <th>Objet</th>
                            <th>Ordre du jour</th>
                            <th>Organisateur</th>
                        </tr>
                    </thead>
                    <tbody class="js-entretiens-table"></tbody>
                </table>
            </div>
        </div>
        {{ include('entretien/_pdf_loader_modal.html.twig') }}
        {{ include('entretien/_new_compte_rendu_modal.html.twig') }}
        {{ include('entretien/_edit_compterendu_modal.html.twig') }}
        <!-- Modal pour la visualisation du formulaire d'édition des entretiens -->
       {{ include('entretien/_edit_entretien_modal.html.twig') }}
        <!-- Fin modal -->

        <!-- Modal pour la visualisation du formulaire d'ajout des entretiens -->
        {{ include('entretien/_new_entretien_modal.html.twig') }}
        <!-- Fin modal -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/third-library/PDFObject/pdfobject.min.js') }}"></script>
    <script>
        const $entretienWrapper = $('.js-entretien-wrapper');
        const entretienApp = new EntretienAppAuthor($entretienWrapper);

        const statusApp = new StatusApp($entretienWrapper);

        $('.js-new-entretien-btn').on('click', function () {
            entretienApp._emptyHtmlModalBody();
            entretienApp.loadUsers();
        });

        $('.js-select-young').change(function (e) {
            const $user = $(e.currentTarget).val();
            entretienApp.loadGuests($user);
        });

        $entretienWrapper.on('click', '.js-participe', function () {
            $('#status').val(1);
        });

        $entretienWrapper.on('click', '.js-participe-pas', function () {
            $('#status').val(0);
        });

    </script>

    <script type="text/template" id="js-guests-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>

    <script type="text/template" id="js-user-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>
    <script type="text/template" id="js-entretien-row-template">
        {{ source('entretien/template/_list_entretien_template.html.twig') }}
    </script>

    <script type="text/template" id="js-entretien-detail-template-logged">
        {{ source('entretien/template/_edit_entretien_template.html.twig') }}
    </script>

    <script type="text/template" id="js-entretien-detail-template-non-logged">
        {{ source('entretien/template/_edit_entretien_template_non_logged.html.twig') }}
    </script>

    <script type="text/template" id="js-status-update">
        {{ source('entretien/template/_edit_status_template.html.twig') }}
    </script>

    <script type="text/template" id="js-compterendu-form-template">
        {{ source('entretien/template/_edit_compterendu_template.html.twig') }}
    </script>
{% endblock %}
