{% extends ':App:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'css/widget/bootstrap-datepicker.css' filter="cssrewrite" output='css/compiled/compiled.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}
{% block body %}
    <h1>Nouvel entretien</h1>
    <p><a class="" href="{{ path('entretien_index') }}">Back to the list</a></p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'js/widget/bootstrap-datepicker.js'
        'js/api/EntretienAppAuthor.js'
        'js/api/UserApp.js'
        output='js/compiled/compiled.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        const $entretienWrapper = $('.js-new-interview-form-wrapper');
        const entretienApp = new EntretienAppAuthor($entretienWrapper);
        entretienApp.loadUsers();

        $entretienWrapper.on('click', '.js-select-user', function () {
            entretienApp.loadGuests($('#young option:selected').val());
        });

        $('.js-datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: "fr"
        });
    </script>

    {# Template #}
    <script type="text/template" id="js-user-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>

    <script type="text/template" id="js-guests-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>
{% endblock %}

