{% extends ':App:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/widget/bootstrap-datepicker.css') }}" />
{% endblock %}
{% block body %}
    <h1>Nouvel entretien</h1>
    <p><a class="" href="{{ path('entretien_index') }}">Back to the list</a></p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/widget/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/api/EntretienAppAuthor.js') }}"></script>
    <script src="{{ asset('js/api/UserApp.js') }}"></script>
    <script>
        const $entretienWrapper = $('.js-new-interview-form-wrapper');
        const entretienApp = new EntretienAppAuthor($entretienWrapper);
        entretienApp.loadUsers();

        $entretienWrapper.on('click', '.js-select-user', function () {
            entretienApp.loadGuests($('#young option:selected').val());
        });

        $('.js-datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: "fr"
        });
    </script>

    <script type="text/template" id="js-user-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>

    <script type="text/template" id="js-guests-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>
{% endblock %}

