{% extends ':App:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/widget/bootstrap-datepicker.css') }}" />
{% endblock %}

{% block body %}
    <h1>Nouvel entretien</h1>
    <p><a class="" href="{{ path('entretien_index') }}">Back to the list</a></p>
{{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.young, {
        label: 'Jeune'
    }) }}


    <div class="js-hidden">
        <ul class="list-group" id="interviewGuest-field-list"
        data-prototype="{{ form_widget(form.interviewGuests.vars.prototype)|e }}">
            {% for interviewGuestFiled in form.interviewGuests %}
                <li class="list-group-item">
                    {{ form_errors(interviewGuestFiled) }}
                    {{ form_widget(interviewGuestFiled) }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <a href="#" class="js-add-guest">Test</a>
    <div class="js-display-guests">
        <span class="badge badge-default"></span>
    </div>
    {{ form_row(form.objet) }}
    {{ form_row(form.compteRendu) }}

    <button type="submit" class="btn">Créer</button>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/widget/bootstrap-datepicker.js') }}"></script>
    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <script>
    $(document).ready(function() {

        let guestCount = '{{ form.interviewGuests|length }}';

        $('.js-add-guest').click(function (e) {
            e.preventDefault();
            const guestList = $("#interviewGuest-field-list");
            let newWidget = guestList.attr('data-prototype');

            newWidget = newWidget.replace(/__name__/g, guestCount);

            const newLi = $('<li class="list-group-item"></li>').html(newWidget);
            newLi.appendTo(guestList);

            guestCount++;
        });
        $('.js-display-guests').on("click", '.js-delete-guest', function (e) {
            {# Je veux trouver #}
            const $idCurrenttargetDiv = $(this).closest('div').data("id");
            const $prototypeCurrentWidget = $('#'+ $idCurrenttargetDiv +'');

            $prototypeCurrentWidget.closest('li').remove();

            $(e.currentTarget).parent('div').remove();
        });

    });
    </script>
{% endblock %}
