<table class="table table-responsive">
    <thead>
    <tr>
        <th>Date</th>
        <th>Auteur</th>
        <th>Message</th>
        <th>Niveau</th>
        <th>Commentaires</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for ticket in tickets %}
        <tr>
            <td>{% if ticket.date %}{{ ticket.date|date('d/m/Y') }}{% endif %}</td>
            <td>{{ ticket.fromWho }}</td>
            <td>{{ ticket.message }}</td>
            {% if ticket.level == 'normal'%}
                <td><span class="badge badge-info">{{ ticket.level }}</span></td>
            {% else %}
                <td><span class="badge badge-danger">{{ ticket.level }}</span></td>
            {% endif %}
            {% if ticket.answers.count %}
                <td><span class="badge badge-pill badge-success">{{ ticket.answers.count }}</span></td>
            {% else %}
                <td></td>
            {% endif %}

            <td><a class="btn btn-warning" href="{{ path('ticket_show', { 'id': ticket.id }) }}">Consulter</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
