{% extends ':App:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block dashcontent %}
    <h1>Tickets list</h1>
    <div class="btnAjoutGenerique">
        <a class="btn btn-primary" href="{{ path('ticket_new') }}">Nouveau ticket</a>
    </div>
    <div class="" id="myTicket">
        {{ include('ticket/_ticket.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/api/TicketApp.js') }}"></script>

    <script>
        const $wrapperCreatedTicket = $('.js-main-content-created');
        const ticketApp = new TicketApp($wrapperCreatedTicket);
    </script>

    <script type="text/template" id="js-ticket-row-template">
        {{ source('ticket/template/_ticket_show_list_template.html.twig') }}
    </script>
{% endblock %}
