{% extends ':App:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block dashcontent %}
    <h1>Tickets list</h1>
    <p><a class="btn btn-primary" href="{{ path('ticket_new') }}">Créer un nouveau ticket</a></p>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#myTicket" role="tab">Tickets créés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#myAttribution" role="tab">Tickets reçus</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content pt-3">
        <div class="tab-pane active" id="myTicket" role="tabpanel">
            {{ include('ticket/_my_ticket.html.twig') }}
        </div>
        <div class="tab-pane" id="myAttribution" role="tabpanel">
            {{ include('ticket/_my_attribution.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/api/TicketApp.js') }}"></script>

    <script>
        const $wrapperCreatedTicket = $('.js-main-content-created');
        const ticketApp = new TicketApp($wrapperCreatedTicket);
    </script>

    <script type="text/template" id="js-ticket-row-template">
        {{ source('ticket/template/_ticket_show_list_template.html.twig') }}
    </script>
{% endblock %}
