{% extends ':App:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block dashcontent %}
    <h1>Tickets list <a data-toggle="modal" data-target="#myModal"><i class="fa fa-cogs" aria-hidden="true"></i></a></h1>
    <div class="js-main-content-created">
        <div class="btnAjoutGenerique">
            <a class="js-new-ticket btn btn-primary" data-toggle="modal" data-target="#newTicketModal" href="#">Nouveau ticket</a>
        </div>
        {{ include('ticket/template/_new_ticket_modal_template.html.twig') }}
    </div>

    <div class="" id="myTicket">
        {{ include('ticket/_ticket.html.twig') }}
    </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fonctionalitées</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item active">Gestion ticketing</li>
                    <li class="list-group-item">Créer une demande</li>
                    <li class="list-group-item">Répondre à la demande et suivi des réponse</li>
                    <li class="list-group-item">Workflow</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const $wrapperCreatedTicket = $('.js-main-content-created');
        const ticketApp = new TicketApp($wrapperCreatedTicket);
    </script>
    <script type="text/template" id="js-user-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>
    <script type="text/template" id="js-ticket-row-template">
        {{ source('ticket/template/_ticket_show_list_template.html.twig') }}
    </script>

{% endblock %}
