{% extends ':dashboard:dashboard.html.twig' %}

{% block dashcontent %}
    <h1 data-id="{{ ticket.id }}">Détail demande</h1>
    <a href="{{ path('ticket_index') }}">Back to the list</a>

    <div class="ticket-wrapper">
        <div class="js-form-answer-wrapper">
            {{ include('ticket/_new_answer_form.html.twig') }}
        </div>
        <div class="js-answer-wrapper">{# Displays the answers list #}</div>
        <div class="card">
            <div class="card-header">
                <div class="header-heading-card">
                    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                    <div>
                        <h5>{{ ticket.fromWho.fullName }} - {{ ticket.fromWho.titre }}</h5>
                        <p>{{ ticket.fromWho.email }}</p>
                    </div>
                </div>
                <em class="date-post">posté le {{ ticket.date|date('d/m/Y') }}</em>
            </div>
            <div class="card-block">
                <div class="message">
                    <span>Message</span>
                    <p>{{ ticket.message }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editTicketModal">
                        Clôturer
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ include(':ticket:_modal_edit_ticket_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script>
        const $wrapper = $('.js-form-answer-wrapper');
        const answerApp = new AnswerApp($wrapper);

        const $statutWrapper = $('.ticket-wrapper');
        const ticketApp = new TicketApp($statutWrapper);
    </script>

    {# Template #}
    <script type="text/template" id="js-answer-template">
        {{ source('ticket/template/_ticket_show_answer_template.html.twig') }}
    </script>
{% endblock %}
