{% extends ':dashboard:dashboard.html.twig' %}

{% block dashcontent %}
    <h1 data-id="{{ ticket.id }}">Détail demande</h1>
    <a href="{{ path('ticket_index') }}">Back to the list</a>

    <div class="ticket-wrapper">
        <div class="js-form-answer-wrapper">
            {{ include('ticket/_new_answer_form.html.twig') }}
        </div>
        <div class="js-answer-wrapper">{# Displays the answers list #}</div>
        <div class="card">
            <div class="card-header">
                <div class="header-heading-card">
                    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                    <div>
                        <h5>{{ ticket.fromWho.fullName }} - {{ ticket.fromWho.titre }}</h5>
                        <p>{{ ticket.fromWho.email }}</p>
                    </div>
                </div>
                <em class="date-post">posté le {{ ticket.date|date('d/m/Y') }}</em>
            </div>
            <div class="card-block">
                <div class="message">
                    <span>Message</span>
                    <p>{{ ticket.message }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                        Clôturer
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>


        {# Modal pour confirmer la clôture#}
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation clôture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="js-edit-ticket-form" name="statut" method="post" action="" novalidate>
                            <select id="select-statuts" name="statut">
                                <option value="1">Ouvert</option>
                                <option value="0">Clôturer</option>
                            </select>
                            <button class="btn btn-primary" type="submit">Modifier</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script>
        const $wrapper = $('.js-form-answer-wrapper');
        const answerApp = new AnswerApp($wrapper);

        const $statutWrapper = $('.ticket-wrapper');
        const ticketApp = new TicketApp($statutWrapper);
    </script>

    {# Template #}
    <script type="text/template" id="js-answer-template">
        {{ source('ticket/template/_ticket_show_answer_template.html.twig') }}
    </script>
{% endblock %}
