<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/third-library/bootstrap4/min/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/third-library/jquery/jquery-ui.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/app/bootstrap-select.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/app/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/app/login.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/app/security.css') }}" />
            <link rel="stylesheet" href="{{ asset('font/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/widget/bootstrap-datepicker.min.css') }}" />
            {#
                {% stylesheets
                    'css/app/upload-btn.css'
                    'css/app/bootstrap-select.min.css'
                    'css/app/main.css'
                    'css/app/login.css'
                    'css/app/security.css'
                    'font/css/font-awesome.min.css'
                    'css/widget/bootstrap-datepicker.min.css'
                    'css/app/upload-btn.css'
                    output='css/compiled/compiled.css'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endstylesheets %}
           #}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div class="container-fluid">
        {% block nav %}
        <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav navbar-brand" href="{{ path('app_app_index') }}">Arkein</a>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_app_index') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Partenaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event') }}">Evènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Boutique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item hidden-lg-up">
                        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                    </li>
                </ul>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% include ':dashboard:_menu.html.twig' %}
                {% else %}
                <ul class="navbar-nav hidden-md-down">
                    <li class="nav-item"><a class="nav-link" href="{{ path('security_login') }}">Connexion</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
        {% endblock nav %}
    </div>
        {% block dashbody %}{% endblock %}

    <div class="homepage container-fluid">
        {% block content %}{% endblock %}
    </div>
    {% block footer %}
        <footer class="footer">
            <div class="container">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>

            </div>
        </footer>
    {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/third-library/jquery/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('js/third-library/bootstrap4/tether.min.js') }}"></script>
            <script src="{{ asset('js/third-library/bootstrap4/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/third-library/underscore.js') }}"></script>
            <script src="{{ asset('js/third-library/jquery/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('js/widget/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('js/api/UserApp.js') }}"></script>
            <script src="{{ asset('js/api/AnswerApp.js') }}"></script>
            <script src="{{ asset('js/api/TicketApp.js') }}"></script>
            <script src="{{ asset('js/api/DocumentApp.js') }}"></script>
            <script src="{{ asset('js/api/CategoryApp.js') }}"></script>
            <script src="{{ asset('js/api/EntretienApp.js') }}"></script>
            <script src="{{ asset('js/api/EntretienAppAuthor.js') }}"></script>
            <script src="{{ asset('js/fileUploadInput.js') }}"></script>
            <script src="{{ asset('js/navTab.js') }}"></script>

            {#
            {% javascripts
                'js/widget/bootstrap-datepicker.js'
                'js/api/UserApp.js'
                'js/api/AnswerApp.js'
                'js/api/TicketApp.js'
                'js/api/DocumentApp.js'
                'js/api/CategoryApp.js'
                'js/api/EntretienApp.js'
                'js/fileUploadInput.js'
                'js/navTab.js'
                output='js/compiled/compiled.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            #}


        {% endblock %}
    </body>
</html>
