<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'css/third-library/bootstrap4/min/*'
                'css/third-library/jquery/jquery-ui.min.css'
                'font/css/font-awesome.css'
                'css/app/*' filter="cssrewrite" output='css/compiled/compiled.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div class="container-fluid">
        {% block nav %}
        <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav navbar-brand" href="{{ path('app_app_index') }}">Arkein</a>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_app_index') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Partenaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event') }}">Evènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Boutique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item hidden-lg-up">
                        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                    </li>
                </ul>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% include ':dashboard:_menu.html.twig' %}
                {% else %}
                <ul class="navbar-nav hidden-md-down">
                    <li class="nav-item"><a class="nav-link" href="{{ path('security_login') }}">Connexion</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
        {% endblock nav %}
    </div>
        {% block dashbody %}{% endblock %}

    <div class="homepage container-fluid">
        {% block content %}{% endblock %}
    </div>
    {% block footer %}
        <footer class="footer">
            <div class="container">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>

            </div>
        </footer>
    {% endblock %}
        {% block javascripts %}
            {% javascripts
                'js/third-library/jquery/jquery-3.2.1.min.js'
                'js/third-library/bootstrap4/tether.min.js'
                'js/third-library/bootstrap4/bootstrap.min.js'
                'js/third-library/underscore.js'
                'js/third-library/jquery/jquery-ui.min.js'
                'bundles/fosjsrouting/js/router.js'
                output='js/compiled/compiled.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>
