{% import _self as formMacros %}

{% extends ':App:layout.html.twig' %}

{% macro printPhoneRow(phoneForm) %}
    <div class="js-phone-item form-group">
        <div class="form-inline">
            {{ form_errors(phoneForm) }}
            {{ form_widget(phoneForm.title, {
                attr: {
                    class: 'form-control mb-2 mr-sm-2 mb-sm-0'
                }
            }) }}
            <div class="input-group">
                {{ form_widget(phoneForm.phoneNumber) }}
                <span class="input-group-btn">
                    <button class="btn btn-danger js-remove-phone" type="button">X</button>
                </span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro printAddressRow(addressForm) %}

    <div class="js-address-item form-group">

        {{ form_errors(addressForm) }}

        {{ form_widget(addressForm.title) }}
        {{ form_widget(addressForm.street, {
            'attr': {
                placeholder: 'Rue'
            }
        }) }}
        {{ form_widget(addressForm.postalCode, {
            'attr': {
                placeholder: 'Code Postal'
            }
        }) }}
        {{ form_widget(addressForm.town, {
            'attr': {
                placeholder: 'Ville'
            }
        }) }}
        {{ form_widget(addressForm.country, {
            'attr': {
                placeholder: 'Pays'
            }
        }) }}

        <button class="btn btn-danger btn-block js-remove-address" type="button">X</button>

    </div>

{% endmacro %}

{% block body %}
    <h1>Modification membre</h1>
    {{ form_start(edit_form) }}
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.firstname) }}
    {{ form_row(edit_form.email) }}

    <div class="js-phone-wrapper"
         data-prototype="{{ formMacros.printPhoneRow(edit_form.phoneNumbers.vars.prototype)|e('html_attr') }}"
         data-index="{{ edit_form.phoneNumbers|length }}">
        {% for phoneForm in edit_form.phoneNumbers %}
            {{ formMacros.printPhoneRow(phoneForm) }}
        {% endfor %}
        <button class="btn btn-success js-add-phone" type="button">+</button><span> Ajouter un numéro</span>
    </div>
    <br/>
    <div class="js-address-wrapper"
         data-prototype="{{ formMacros.printAddressRow(edit_form.addresses.vars.prototype)|e('html_attr') }}"
         data-index="{{ edit_form.addresses|length }}">

        {% for addressForm in edit_form.addresses %}
                {{ formMacros.printAddressRow(addressForm) }}
        {% endfor %}
        <button class="btn btn-success js-add-address" type="button">+</button><span> Ajouter une adresse</span>
    </div>
    <br/>
    {% if (user.role != 'ROLE_YOUNGSTER') %}
        {{ form_row(edit_form.titre) }}
    {% endif %}
    {% do edit_form.titre.setRendered() %}
    {{ form_row(edit_form.role) }}
    <div class="row">
        <div class="col">
            <div class="form-group">
                {{ form_label(edit_form.coach, 'Coach', {
                    'attr': {
                        'class': 'control-label'
                    }
                }) }}
                {{ form_errors(edit_form.coach) }}
                {{ form_widget(edit_form.coach, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
        </div>

        {# Je n'affiche pas la case groupe si l'utilisateur edité est un jeune #}
        {% if (user.role != 'ROLE_YOUNGSTER') %}
        <div class="col">
            <div class="form-group">
                {{ form_label(edit_form.groups, 'Groupe', {
                    'attr': {
                        'class': 'control-label'
                    }
                }) }}
                {{ form_errors(edit_form.groups) }}
                {{ form_widget(edit_form.groups, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
        </div>
        {% endif %}
        {% do edit_form.groups.setRendered() %}
    </div>
    {{ form_row(edit_form.isActive, {
        'label': 'Activer/Désactiver'
    }) }}
    {# Avoid seeing the colelction title #}
    {{ form_widget((edit_form.phoneNumbers)) }}
    {{ form_widget((edit_form.addresses)) }}

    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
    {{ form_end(edit_form) }}

{% endblock %}




{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/add-remove-collectionType.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            const $wrapperPhone = $('.js-phone-wrapper');
            const $addPhone = '.js-add-phone';
            const $removePhone = '.js-remove-phone';
            const $phoneItem = '.js-phone-item';

            actionPhone($wrapperPhone, $addPhone, $removePhone, $phoneItem);

            const $wrapperAddress = $('.js-address-wrapper');
            const $addAddress = '.js-add-address';
            const $removeAddress = '.js-remove-address';
            const $addressItem = '.js-address-item';

            actionPhone($wrapperAddress, $addAddress, $removeAddress, $addressItem);
        });
    </script>
{% endblock %}
