{% extends ':App:layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block body %}
    <h1>List des membres</h1>
    <div class="">
        <a class="btn btn-primary" href="{{ path('user_new') }}">Ajouter un membre</a>
    </div>
    {% include (':user:_responsive-xs-index.html.twig') %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('js/api/UserApp.js') }}"></script>
    <script>
        const $wrapper = $('.js-main-content');
        const userApp = new UserApp($wrapper);
    </script>

    {# Template pour les users:
     1- Load du tableau
     #}
    <script type="text/template" id="js-user-row-template">
        <tr>
            <td><%= name %></td>
            <td><%= firstname %></td>
            <td><%= email %></td>
            <td><%= role %></td>
            <td><a href="<%= links._self %>" class="js-detail-user btn btn-warning" data-id="<%= id %>" >Consulter</a></td>
        </tr>
    </script>
{% endblock %}