{% extends ':App:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1>Bienvenu, {{ user.firstname }}</h1>

    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#documents" role="tab">Documents</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" >
        <div class="tab-pane" id="profile" role="tabpanel">
            <div class="row d-flex justify-content-start">
                <div class="" style="margin: 2rem">
                    <img class="" src="http://trenchlessleakdetection.com/wp-content/themes/trenchless-leak-detection/images/unknown-speaker.gif" width="250px" alt="avatar" />
                    <div>
                        <button class="btn btn-block btn-primary">Envoyer un Message</button>
                    </div>
                </div>

                <div class="" style="margin: 2rem">
                    <h3>{{ user.firstname }} {{ user.name }}</h3>
                    <table class="table table-responsive">

                        <tbody>
                        {% for phoneNumbers in user.phoneNumbers %}
                        <tr>
                            <th>{{ phoneNumbers.title }}</th>
                            <td>{{ phoneNumbers.phoneNumber }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Adresse</th>
                            <td>{{ user.addresses.first }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-success">Modifier</a>
                        <button class="btn btn-danger">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel">...</div>
        <div class="tab-pane" id="documents" role="tabpanel">
            {#{{ include(':document:_doc_index.html.twig') }}#}
            {{ render(controller('DocumentationBundle:Document:new', {'user': user.id })) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var $wrapper = $('.js-document-table');
            var documentApp = new DocumentApp($wrapper);

            var $folder = $('.js-category');
            var categoryApp = new CategoryApp($folder);

            /**
             * Gestion input file du modal d'ajout de fichier
             *
             */
            $(document).on('click', '.browse', function(){
                var file = $(this).parent().parent().parent().find('.file');
                file.trigger('click');
            });
            $(document).on('change', '.file', function(){
                $(this).parent().find('.form-control').html($(this).val().replace(/C:\\fakepath\\/i, ''));
            });

            $('.js-new-doc-btn').on('click', function (e) {
                e.preventDefault();
                $('#categorie').val($(this).data('id'));
            });

            $(".sortable").sortable({
                connectWith: ".connectedSortable",
                items: "tr:not(.notSortable)",
                receive: function (e, ui) {
                    var idCat = ($(this)[0].id);
                    var id = $(ui.item)[0].id;

                    $.ajax({
                        url: Routing.generate('api_document_edit'),
                        data: JSON.stringify({id: id, idCat: idCat}),
                        method: 'POST',
                        success: function (data) {
                            $.each(data, function (key, value) {
                                console.log(value);
                                var $tbodyLength = ($('.js-table-document').find('tbody#'+ value.idCat +' tr').length) - 1;
                                console.log($tbodyLength - 1);

                                $('.js-total-doc-categorie').html($tbodyLength);
                            })
                        },
                        error: function (jqXHR) {
                            console.log(jqXHR.responseText);
                        }
                    })
                }
            }).disableSelection();
        });
    </script>

    <script type="text/template" id="js-cat-option-template">
        <option value="<%= id %>"><%= name %></option>
    </script>
{% endblock %}