{% extends ':App:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block dashcontent %}
    <h1 id="member-detail" data-user="{{ user.id }}">Bienvenue, {{ user.firstname }}</h1>
    <!-- Tabs navigation -->
    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item w-100">
            <a class="nav-link text-center active" data-toggle="tab" href="#profile" role="tab">Profile</a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link text-center" data-toggle="tab" href="#entretiens" role="tab">Entretiens</a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link text-center" data-toggle="tab" href="#documents" role="tab">Documents</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content pt-3" >
        <!-- Début tab Profile -->
        <div class="tab-pane active" id="profile" role="tabpanel">
            {{ include('user/_tab_profile.html.twig') }}
        </div>
        <!--Fin tab profile-->
        <!-- Début tab Entretien -->
        <div class="tab-pane" id="entretiens" role="tabpanel">
            {{ include('entretien/_interviews-lists.html.twig') }}
            <!-- Fin modal -->
        </div>
        <!--Fin tab Entretien-->
        <!--Début tab Document-->
        <div class="tab-pane js-documentation-wrapper" id="documents" role="tabpanel">
            {{ include('document/_doc_index.html.twig') }}
        </div>
        <!--Fin tab Document-->

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        // Manage document
        const $docWrapper = $('.js-documentation-wrapper');
        const documentApp = new DocumentApp($docWrapper);
        const categoryApp = new CategoryApp($docWrapper);
        categoryApp.loadListTreeViewCategorie();
        categoryApp.loadListSelectCategorie();

        $docWrapper.on('click', '.js-load-file', function (e) {
            e.preventDefault();
            $('.js-form-file').submit();
        });

        $('#isPrivate').prop("checked", "true");
    </script>

    {{ include('entretien/template/_scriptGlobal.html.twig') }}

    <!-- Documents/Categories Templates -->
    <script type="text/template" id="js-cat-option-template">
        <option value="<%= id %>"><%= name %></option>
    </script>
    <script type="text/template" id="js-document-add-template">
        {{ source('document/template/_add_row_document.html.twig') }}
    </script>
    <script type="text/template" id="js-new-folder-template">
        {{ source('document/template/_new_folder_template.html.twig') }}
    </script>

{% endblock %}
