{% extends ':App:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 data-user="{{ user.id }}">Bienvenue, {{ user.firstname }}</h1>

    <!-- Tabs navigation -->
    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item w-100">
            <a class="nav-link text-center" data-toggle="tab" href="#profile" role="tab">Profile</a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link text-center" data-toggle="tab" href="#entretiens" role="tab">Entretiens</a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link text-center" data-toggle="tab" href="#documents" role="tab">Documents</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content pt-3" >
        <!-- Début tab Profile -->
        <div class="tab-pane" id="profile" role="tabpanel">
            {{ include('user/_tab_profile.html.twig') }}
        </div>
        <!--Fin tab profile-->
        <!-- Début tab Entretien -->
        <div class="tab-pane js-entretien-wrapper" id="entretiens" role="tabpanel">
            <p id="loading"><img src="{{ asset('img/ajax-loader.gif') }}" /> Please Wait </p>
            {{ include('entretien/_interviews-by-young.html.twig') }}

            <!-- Modal pour la visualisation du détail des entretiens -->
            {{ include('entretien/_edit_entretien_modal.html.twig') }}
            <!-- Fin modal -->
        </div>
        <!--Fin tab Entretien-->
        <!--Début tab Document-->
        <div class="tab-pane js-documentation-wrapper" id="documents" role="tabpanel">
            {{ include('document/_doc_index.html.twig') }}
        </div>
        <!--Fin tab Document-->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script>
        $(document).ready(function () {
            /*
            * Instantiation des différents objets
            * pour tous les appels ajax
            *
            * */
            const $wrapper = $('.js-documentation-wrapper');
            const documentApp = new DocumentApp($wrapper);

            const $folder = $('.js-documentation-wrapper');
            const categoryApp = new CategoryApp($folder);

            const $entretienWrapper = $('.js-entretien-wrapper');
            const entretienApp = new EntretienApp($entretienWrapper);

            entretienApp.loadListEntretiens();

            $('#isPrivate').prop("checked", "true");

        });
    </script>



    {# Template pour les entretiens:
     1- loader la selectbox du formulaire (Modal) d'ajout de document
     2- Load du tableau
     3- Load du détail dans le modal
     #}

    <script type="text/template" id="js-cat-option-template">
        <option value="<%= id %>"><%= name %></option>
    </script>

    <script type="text/template" id="js-entretien-row-template">
        {{ source('entretien/template/_list_entretien_template.html.twig') }}
    </script>

    <script type="text/template" id="js-entretien-detail-template">
        {{ source('entretien/_edit_entretien_template_non_logged.html.twig') }}
    </script>

    <script type="text/template" id="js-document-add-template">
        {{ source('document/template/_add_row_document.html.twig') }}
    </script>

    <script type="text/template" id="js-new-folder-template">
        {{ source('document/template/_new_folder_template.html.twig') }}
    </script>

{% endblock %}