{% extends ':organization:layout.html.twig' %}

{% block body %}
    <h1>Organizations list</h1>

    <p><a class="btn btn-primary" role="button" href="{{ path('organization_new') }}">Create a new organization</a></p>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td><a href="{{ path('organization_edit', { 'id': organization.id }) }}">{{ organization.name }}</a></td>
                <td>{{ organization.namecontact }}, {{ organization.firstnameContact }}</td>
                <td>{{ organization.credential.email }}</td>
                <td>{{ organization.phone }}</td>
                <td>
                    <a class="btn btn-warning" role="button" href="{{ path('organization_edit', { 'id': organization.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
