{% extends ':member:layout.html.twig' %}

{% block body %}
    <h1>Members list</h1>
    <p><a class="btn btn-primary" role="button" href="{{ path('member_new') }}">Create a new member</a></p>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name, Firstname</th>
                <th>phone</th>
                <th>email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><a href="{{ path('member_edit', { 'id': member.id }) }}">{{ member.name }}, {{ member.firstname }}</a></td>
                <td>{{ member.phone }}</td>
                <td>{{ member.credential.email }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('member_edit', { 'id': member.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
