
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Datestart</th>
                <th>Dateend</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_edit', { 'id': event.id }) }}">{{ event.title }}</a></td>
                <td>{{ event.description }}</td>
                <td>{% if event.datestart %}{{ event.datestart|date('d-m-Y') }}{% endif %}</td>
                <td>{% if event.dateend %}{{ event.dateend|date('d-m-Y') }}{% endif %}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td><a class="btn btn-warning" href="{{ path('event_edit', { 'id': event.id }) }}">Modifier</a></td>
                    {% else %}
                        <td><a class="btn btn-warning" href="{{ path('event_show', { 'id': event.id }) }}">Voir</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
