<div class="js-document-table mt-5">
    <ul>
        <h4>
            Documents
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalAddDoc">
                +
            </button>
        </h4>

        {% set i = 1 %}
        {% for categorie in categories %}
            {% set i = i + 1 %}
            <div class="card">
                <div class="card-header" role="tab" id="heading{{ i }}">
                    <h5 class="mb-0 d-flex justify-content-between">
                        <a href="#collapseFile{{ i }}" data-toggle="collapse"><i class="fa fa-folder" aria-hidden="true"></i>  {{ categorie.name }}</a>
                        <span class="js-total-doc-categorie badge badge-warning">{{ categorie.documents|length }}</span>
                    </h5>
                </div>
            </div>
            <div class="collapse" id="collapseFile{{ i }}">
                <div class="card-block">
                    <table class="js-table-document table table-sm table-responsive">
                        <tbody class="sortable connectedSortable" id="{{ categorie.id }}">
                        <tr class="notSortable">
                            <td>
                                <button type="button" class="js-new-doc-btn btn btn-success btn-sm" data-id="{{ categorie.id }}" data-toggle="modal" data-target="#modalAddDoc">Nouveau Document</button>
                            </td>
                        </tr>
                        {% for documents in categorie.documents %}
                            <tr id="{{ documents.id }}">
                                <td><a href="{{ vich_uploader_asset(documents, 'fileTemporary') }}"><i class="fa fa-file" aria-hidden="true"></i>  {{ documents.fileName }}</a></td>
                                <td align="center">
                                    <a href="#"
                                       class="js-delete-document btn btn-danger btn-sm"
                                       data-url="{{ path('document_delete', {id: documents.id}) }}"
                                    >x</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </ul>
</div>
{{ include(':document:_modal_add_doc.html.twig') }}
