{% extends ':App:layout.html.twig' %}
{% block dashcontent %}
<h1>Dossiers</h1>
    <div class="js-categorie-wrapper">
        <div class="btnAjoutGenerique">
            <a href="#" class="js-new-categorie-btn btn btn-primary" data-toggle="modal" data-target="#catNewModal">Nouveau Dossier</a>
        </div>
        <table class="table table-responsive table-bordered table-hover">
            <thead>
            <tr>
                <th>Action</th>
                <th>Nom dossier</th>
                <th>Propriétaire</th>
                <th>Total fichier</th>
            </tr>
            </thead>
            <tbody class="js-row-dossier">
                {% for category in categories %}
                    <tr class="js-id-categorie" data-id="{{ category.id }}">
                        <td>
                            <a href="#" class="js-edit-categorie-btn btn btn-warning" data-id="{{ category.id }}" data-toggle="modal" data-target="#catEditModal">Modifier</a>
                        </td>
                        <td>{{ category.name }}</td>
                        {% if category.owner %}
                            <td>
                                <span class="badge badge-primary">{{ category.owner }}</span>
                            </td>
                        {% else %}
                            <td>
                                <span class="badge badge-success">Générique</span>
                            </td>
                        {% endif %}
                        <td>
                            <span class="badge badge-info">{{ category.documents|length }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ include('document/categorie/_modal_edit_categorie.html.twig') }}
        {{ include('document/categorie/_modal_new_categorie.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const $categorieWrapper = $('.js-categorie-wrapper');
        const categorieApp = new CategoryApp($categorieWrapper);
        $('.js-new-categorie-btn').on('click', categorieApp.loadUsers());
    </script>

    <script type="text/template" id="js-categorie-edit-template">
        {{ source('/document/categorie/_edit_categorie.html.twig') }}
    </script>

    <script type="text/template" id="js-dossier-new-row-template">
        {{ source('document/categorie/template/_add_row_dossier.html.twig') }}
    </script>

    <script type="text/template" id="js-users-option-template">
        <option value="<%= id %>"><%= fullname %></option>
    </script>
{% endblock %}
