<nav class="js-toggable-side-menu col-sm-3 hidden-md-down col-md-2 bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('dashboard') }}">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_index') }}">Membres</a>
        </li>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_STAFF') or is_granted('ROLE_EXTERNAL') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('entretien_index') }}">Entretiens</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_STAFF') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('event_index') }}">Evènements</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('ticket_index') }}">Tickets</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link active" href="#">Administration <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('categorie_index') }}">Création de dossier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('billet_new') }}">Créer un billet</a>
            </li>
        {% endif %}
    </ul>
</nav>
