{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
    <div id="loginform" class="">
        <div class="card">
            <img class="card-img-top" src="{{ asset('img/login.jpg') }}" alt="the path" />
            <div class="card-block">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                {{ form_start(form) }}
                {{ form_row(form._username, {
                    label: false,
                    attr: {
                        placeholder: 'Identifiant'
                    }
                }) }}
                {{ form_row(form._password, {
                    label: false,
                    attr: {
                        placeholder: 'Mot de passe'
                    }
                }) }}
                <p><button type="submit" class="btn btn-primary btn-block">Login <span class="fa fa-lock"></span></button></p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
